.body {
    display: flex;
    /* justify-content: center;
    align-items: center;*/ 
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fff;
    color: #000;
    flex-direction: column;
    height: 100vh;
    /* Garante que o contêiner centralize verticalmente */
}

.container {
    border: 2px solid #000;
    padding: 20px;
    background-color: #fff;
    width: 150mm;
    /* Invertido para largura maior */
    height: 100mm;
    /* Invertido para altura menor */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: rotate(90deg);
    transform-origin: center; */
}

.content {
    border: 2px solid #000;
    padding: 10px;
    width: 100%;
    /* Garante que a largura da div content ocupe todo o espaço disponível */
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.remetente {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.button {
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    margin-right: 40px;
}

.buttons {
    margin-right: 10px;
}

.divImage {
    background-color: #000;
    padding: 20px;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

.titlePage {
    color: #000;
    text-align: center;
    margin-top: 15px;
}

@media print {
    .button {
        display: none !important;
    }

    .divImage {
        display: none !important;
    }

    .titlePage {
        display: none !important;
    }

    .sidebar {
        display: none !important;
    }

    .container {
        border: 2px solid #000;
        padding: 20px;
        background-color: #fff;
        width: 150mm;
        /* Largura maior para refletir a rotação */
        height: 100mm;
        /* Altura menor para refletir a rotação */
        transform: rotate(90deg);
        /* Mantém a rotação no modo de impressão */
        transform-origin: center;
        /* Garante a rotação centralizada */
    }

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #000;
        flex-direction: column;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
    }
}